/* blob 

	.blob {
		background: black;
		border-radius: 50%;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
		margin: 10px;
		height: 20px;
		width: 20px;
		transform: scale(1);
		animation: pulse-black 2s infinite;
	}

	@keyframes pulse-black {
		0% {
			transform: scale(0.95);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
		}
		
		70% {
			transform: scale(1);
			box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
		}
		
		100% {
			transform: scale(0.95);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		}
	}

	.blob.white {
		background: white;
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
		animation: pulse-white 2s infinite;
	}

	@keyframes pulse-white {
		0% {
			transform: scale(0.95);
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
		}
		
		70% {
			transform: scale(1);
			box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
		}
		
		100% {
			transform: scale(0.95);
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		}
	}


#almas-blob {
	position: absolute;
	left: 87vh;
    top: 70vh;
}

*/


/* BOXES */

.box {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.box .box-text {
  visibility: hidden;
  width: auto;
  max-width: 300px;
  background-color: black;
  text-align: left;
  line-height: normal;
  font-weight: normal;
  border-radius: 6px;
  padding: 20px;
  z-index: 1;
  position: fixed;
  left: 70%;
  top: 30%;
  transform: translate(-10%, -40%);
  
  /* Fade in almas-box - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.box:hover .box-text {
  visibility: visible;
  opacity: 1;
}

.box-text-logo {
	float: left;
    width: 40%;
    padding-right: 20px;
}

.box-text-title{
	float: right;
    width: 60%;
}


@media (max-width: 760px) {
  .box .box-text {
    width: auto;
    max-width: 80%;
    position: fixed;
    left: 10%;
    top: 80px;
    transform: translate(-5%, 0);
    transition: opacity 1s;
    }
}